.nav-theme {
    background-color: #28d64ef5;
    font-size: 15px;
    font-family: sans-serif;
    text-align: flex;
  }
  
  .animate-navbar {
    box-shadow: 1px 1px 1px rgba(40, 163, 194, 0.815);
    animation: moveDown 0.5s ease-in-out;
  }
  
  
  @keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0rem);
    }
  }
  